body {
  background-color: beige;
}

p {
  font-size: 24px;
}

#mainPanel,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

#mainPanel {
  margin-right: 30px;
  margin-bottom: 30px;
}

#dieBox {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
}

button {
  padding: 5px 10px;
}

#rollButton {
  margin-right: 15px;
}

#player1Paragraph,
#player2Paragraph,
#scoreParagraph {
  margin-top: 0;
  margin-bottom: 18px;
}

.turn {
  color: #ff4c00;
}

#switchButton {
  display: none;
  background-color: red;
  color: white;
  margin-top: 27px;
}

#messageParagraph {
  display: none;
  color: #ff4c00;
  margin-top: 28px;
  margin-bottom: 0;
}